# Build
build/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CMakeUserPresets.json
cmake_install.cmake
compile_commands.json
install_manifest.txt
CTestTestfile.cmake
_deps/

# Binaries
*.o
*.a
*.so
*.out

# VSCode
.vscode/

# OS
.DS_Store